.showTasks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;

  &Button {
    border: none;
    min-height: 40px;
    font-size: 22px;
    cursor: pointer;
    background-color: #5395e4;
    border-radius: 5px;

    &:hover {
      background: #DBE2EF;
    }
  }
}